<%= form_for(@shipping) do |f|%>
<div class ="container">
	<div class="mx-auto" style="width: 300px;">
		<div class="text-center">
<h3>配送先編集</h3>
<br>
<div class="edit-shippings">
	<p>郵便番号</p><%=f.text_field :postcode,class:"form-control" %>

	<p>住所</p><%= f.text_field :address,class:"form-control" %>

	<p>宛名</p><%= f.text_field :address_name,class:"form-control" %>
</div>
<br>
<%= f.submit "編集する",class:"btn btn-outline-primary" %>
<% end %>
</div>
</div>
</div>
