<%= form_for @shipping do |f| %>

<div class ="container">
	<div class="mx-auto" style="width: 300px;">
		<div class="text-center">
			<h3>新規配送先登録</h3>
<br>
 			<%= flash[:notice_create] %>
 			<%= flash[:notice_fix] %>
 			<%= flash[:notice_destroy] %>

			<div class="shipping-create">
				<tr>
					<th>郵便番号</th>	<td><%=f.text_field :postcode,class:"form-control mb-2" %></td>
				</tr>
				<tr>
					<th>住所</th><td><%=f.text_field :address,class:"form-control mb-2" %></td>
				</tr>
				<tr>
					<th>宛名</th><td><%=f.text_field :address_name,class:"form-control mb-2" %></td>
				</tr>

			<%= f.submit "登録する",class:"btn btn-outline-primary mb-4" %>
			</div>
		</div>
	</div>

<% end %>

<h3 class="text-center">配送先一覧</h3>
<div class="mx-auto" style="width: 700px;">
	<table class="table">
	<tr>
		<th>郵便番号</th>
		<th>住所</th>
		<th>宛名</th>
		<th></th>
		<th></th>
	</tr>
	<% @shippings.each do |shipping| %>
	<tr>
		<td><%= shipping.postcode %></td>
		<td><%= shipping.address %></td>
		<td><%= shipping.address_name %></td>
		<td><%= link_to "編集する", edit_shipping_path(shipping.id), class:"btn btn-outline-primary mb-2" %></td><td><%= link_to "削除する", shipping_path(shipping.id), method: :delete, class:"btn btn-outline-danger mb-2" %></td>
	</tr>
<% end %>
</table>

</div>
</div>

