<div class="container">
	<h1>商品編集画面</h1>
		<div class="row">
		<%= form_for(@item, url: {controller: "items", action: "update"}) do |f| %>
		<div class="image col-10 pt-5">
			<%= f.attachment_field :image, placeholder: "画像選択", class: "item-edit-form" %>
		</div>
		<div class="item_introduce col-10 pt-5">
			<label class="name">商品名</label>
				<%= f.text_field :name, autofocus: true, id:"inputEmail", placeholder:"name" %><br>
			<label class="introduction">商品説明</label>
				<%= f.text_area :introduction, autofocus: true %><br>
			<label class="genre">ジャンル</label>
				<%= f.select :genre_id, [["ケーキ","1"],["プリン","2"],["焼き菓子","3"],["キャンディ","4"]], autofocus: true %><br>
			<label class="price">
				税抜き価格
				<%= f.text_field :price, autofocus: true %>円
			</label><br>
			<label class ="is_sold">販売ステータス</label>
				<%= f.select :is_sold, [["売り切れ","true"],["販売中","false"]], autofocus: true %><br>
			<%= f.submit "変更を保存" %>
		</div>
			<% end %>
		</div>
		</div>
</div>

