<div class="container admin-item-index">
	<h1>商品一覧</h1>
	<div class="flush">
		<%= flash[:notice_new] %>
	</div>
	<div class="row admin-item-new">
		<%= link_to "商品新規登録", new_admin_item_path, class:"btn btn-outline-primary"%>
	</div>
	<div class="row admin-item-search">
		<%= search_form_for @q, url:"/admin/items" do |f| %>
			<%= f.search_field :name_cont %>
			<%= f.submit class: "btn btn-primary" %>
		<% end %>
		<%= link_to admin_items_path do %>
			<div>　全商品を表示　</div>
		<% end %>
	</div>
	<div class="row clearfix">
			<table class="table">
				<thead>
					<tr>
						<%= content_tag :th, sort_link(@q, :id, "商品ID", default_order: :desc) %>
						<%= content_tag :th, sort_link(@q, :name, "商品名", default_order: :desc) %>
						<%= content_tag :th, sort_link(@q, :price, "税抜価格", default_order: :desc) %>
						<%= content_tag :th, sort_link(@q, :genre_name, "ジャンル", default_order: :desc) %>
						<%= content_tag :th, sort_link(@q, :is_sold, "ステータス", default_order: :desc) %>
					</tr>
				<tbody>
					<% @items.each do |item| %>
						<tr>
						<td>
							<%= item.id %>
							</td>
						<td>
							<%= link_to admin_item_path(item.id) do %>
							<%= item.name %>
						</td>
					<% end %>
						<td>
							<%= number_to_currency((BigDecimal(item.price)).ceil) %>
						</td>
						<td>
							<%= item.genre.name %>
						</td>
						<td>
							<% if item.is_sold? %>
								<p>販売中</p>
							<% else %>
								<p>売り切れ</p>
							<% end %>
						</td>
						</tr>
					<% end %>
				</tbody>
			</thead>
		</table>

			<%= paginate @items, class: "paginate" %>

	</div>
</div>
