<div class="container">
	<h1>商品詳細画面</h1>
	<div class="row">
		<div class="image col-lg-6 pt-5">
		<%= attachment_image_tag @item, :image, :fill, 300, 250 %>
		</div>
		<div class="item_introduce col-lg-6 pt-5">
			<p class="name">商品名   <%= @item.name %></p>

			<p class="introduction">
				商品説明
				<%= @item.introduction %>
			</p>
			<p class="genre">
				ジャンル
				<%= @item.genre.name %>
			</p>
			<p class="price">
				税抜き価格（税込価格)
				<%= number_to_currency((BigDecimal(@item.price)).ceil)%> (<%=number_to_currency((BigDecimal(@item.price)*BigDecimal("1.08")).ceil)%>)
			</p>
			<p class ="is_sold">
				販売ステータス
				<% if @item.is_sold %>
				<p>販売中</p>
				<% else %>
				<p>売り切れ</p>
				<% end %>
			</p>
			<div class="btn">
				<%= link_to '編集する', edit_admin_item_path(@item) %>
			</div>
		</div>
	</div>
</div>
