<%= form_for(@customer) do |f|%>
<div class ="container">
  <div class="mx-auto" style="width: 500px;">
<div class="text-center">
<h2>登録情報編集</h2> <%= link_to "退会する", '/customer/leave', class:"btn btn-outline-danger mb-4" %>

<div class="edit-group row">
	<table class="edit-customers">
			<tr>
				<th>氏名</th><td><%=f.text_field :last_name,class:"form-control" %></td><td><%=f.text_field :first_name,class:"form-control" %></td>
			</tr>
			<tr>
				<th>フリガナ</th>	<td><%= f.text_field :last_name_kana,class:"form-control" %></td><td><%= f.text_field :first_name_kana,class:"form-control" %></td>
			</tr>
			<tr>
				<th>郵便番号</th>	<td><%= f.text_field :postcode,class:"form-control" %></td>
			</tr>
			<tr>
				<th>住所</th><td><%= f.text_field :address,class:"form-control" %></td>
			</tr>
			<tr>
				<th>電話番号</th>	<td><%= f.text_field :phone_number,class:"form-control" %></td>
			</tr>
			<tr>
				<th>メールアドレス</th><td><%= f.text_field :email,class:"form-control" %></td>
			</tr>
	</table>
</div>
<br>
	<%= f.submit "編集内容を保存する", class:"btn btn-outline-primary mb-4" %>

<% end %>
</div>
</div>
</div>