<%= form_for(@customer) do |f|%>

<h3>登録情報編集</h3> <%= link_to "退会する", '/customer/leave' %>

<table class="edit-customers">
			<tr>
				<th>氏名</th><td><%=f.text_field :last_name %> <%=f.text_field :first_name %></td>
			</tr>
			<tr>
				<th>フリガナ</th>	<td><%= f.text_field :last_name_kana %> <%= f.text_field :first_name_kana %></td>
			</tr>
			<tr>
				<th>郵便番号</th>	<td><%= f.text_field :postcode %></td>
			</tr>
			<tr>
				<th>住所</th><td><%= f.text_field :address %></td>
			</tr>
			<tr>
				<th>電話番号</th>	<td><%= f.text_field :phone_number %></td>
			</tr>
			<tr>
				<th>メールアドレス</th><td><%= f.text_field :email %></td>
			</tr>
</table>

<%= f.submit "編集内容を保存する" %>

<% end %>
