<div class="container order-new">
    <h1 class="text-center  mb-5">購入情報入力</h1>
<div class="row">
<div class="col-7 mx-auto">
    <p>必要事項をご記入の上、確認画面へお進みください。</p>
        <%= form_for @order do |f| %>
        <%= render 'layouts/errors_messages', model: f.object %>

    <table class="table table-bordered">
            <tr>
                    <th><h4>支払方法</h4></th>
                <td>
                    <div class="radio-inline">
                      <%= f.radio_button :payment, :クレジットカード%>
                      <%= f.label :クレジットカード, class: "payment_label" %>
                      <%= f.radio_button :payment, :銀行振込 %>
                      <%= f.label :銀行振込, class: "payment_label" %>
                    </div>

<!--                     <div class="radio-inline">
                      <%= f.radio_button :payment, :銀行振込 %>
                      <%= f.label :銀行振込, class: "payment_label" %>
                    </div> -->
                </td>
            </tr>

            <th><h4>お届け先</h4></th>
            <td>
            <div class="radio-inline">
              <%= radio_button_tag(:selected_btn, "self_address") %>
              <%= label_tag(:registered_address, "ご自身の住所") %>
              <div>
                <p>
                  <%= current_customer.postcode %>
                  <%= current_customer.address %>
                  <%= current_customer.fullname.to_s %>
                  <%= f.hidden_field :postage %>
                  <%= f.hidden_field :total_price, value: @total %>
                  <%= f.hidden_field :order_status, value: :入金待ち %>
                  <%= f.hidden_field :confirming %>
                </p>
              </div>
            </div>


            <div class="radio-inline">
              <%= radio_button_tag(:selected_btn, "registered_address") %>
              <%= label_tag(:registered_address, "登録済住所から選択") %>
              <p>
                <%= f.collection_select :shipping, @shippings, :id, :fulladdress,{},class:"custom-select col-7" %>
                <%= f.hidden_field :postage %>
                <%= f.hidden_field :total_price, value: @total %>
                <%= f.hidden_field :order_status, value: :入金待ち %>
                <%= f.hidden_field :confirming %>
              </p>
            </div>

            <div class="radio-inline">
              <%= radio_button_tag(:selected_btn, "new_address") %>
              <%= label_tag(:registered_address, "新しいお届け先") %>
            <div>

                <div class="col-5"><p>郵便番号</p><%= f.text_field :postcode,class:"form-control form-control-sm" %></div>
                <div class="col-10"><p>住所</p><%= f.text_field :address,class:"form-control form-control-lg"%></div>
                <div class="col-6"><p>宛名</p><%= f.text_field :address_name,class:"form-control" %></div>
                <%= f.hidden_field :postage %>
                <%= f.hidden_field :total_price, value: @total %>
                <%= f.hidden_field :order_status, value: :入金待ち %>
                <%= f.hidden_field :confirming %>
              </div>
            </div>
          </td>
    </table>
<div class="row select">

    <div class="col-6 back">
      <%= link_to "< カートに戻る", cart_items_path, class: "btn btn-secondary"%>

    </div>
    <div class="col-6 confirm">
             <%= f.submit '確認画面へ進む >', class: "btn btn-primary btn-block btn-lg"%>
    </div>

</div>

        <% end %>
</div>
</div>
</div>