<h1>cart_items#index</h1>
<h1>ショッピングカート</h1>

<table class="table table-bordered col-10 mx-auto">
  <thead class="thead-light">
    <tr>
      <th scope="col">cart_item No(不要なので削除予定)</th>
      <th scope="col">商品名</th>
      <th scope="col">単価</th>
      <th scope="col">数量</th>
      <th scope="col">小計</th>
    </tr>
  </thead>
  <% @cart_item.each do |cart_item| %>
    <tbody>
      <tr>
        <td scope="row"><%= cart_item.id %></td>
        <td scope="row"><%= cart_item.item.name %></td>
        <td scope="row"><%= number_to_currency((BigDecimal(cart_item.item.price) * BigDecimal("1.08")).ceil) %></td>

        <td scope="row"><%= cart_item.quantity %></td>
        <td scope="row"><%= number_to_currency((BigDecimal(cart_item.item.price) * BigDecimal("1.08") * cart_item.quantity).ceil) %></td>
      </tr>
    </tbody>
  <% end %>
</table>
