<h1>cart_items#index</h1>
<h1>ショッピングカート</h1>
<div class="row">
  <table class="table table-bordered mx-auto">
    <thead class="thead-light">
      <tr>
        <th scope="col">cart_item No(不要なので削除予定)</th>
        <th scope="col">商品名</th>
        <th scope="col">単価</th>
        <th scope="col">数量</th>
        <th scope="col">小計</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <% @cart_item.each do |cart_item| %>
      <tbody>
        <tr>
          <td scope="row"><%= cart_item.id %></td>
          <td scope="row"><%= cart_item.item.name %></td>
          <td scope="row"><%= number_to_currency((BigDecimal(cart_item.item.price) * BigDecimal("1.08")).ceil) %></td>
          <td scope="row"><%= cart_item.quantity %></td>
          <td scope="row"><%= number_to_currency((BigDecimal(cart_item.item.price) * BigDecimal("1.08") * cart_item.quantity).ceil) %></td>
          <td scope="row"><%= link_to '削除する', cart_item_path(cart_item), method: :delete, class: 'btn btn-danger'%></td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>

<div class="row justify-content-between">
  <div class="col-3">
    <%= link_to '買い物を続ける', root_path, class: 'btn btn-primary' %>
  </div>
  <table class="table table-bordered col-3">
    <tr>
      <td class="table-active">合計金額</td>
      <td><%= number_to_currency(@sum.ceil) %></td>
    </tr>
  </table>
</div>

<div class="row col-4 mx-auto mb-5">
  <%= link_to '情報入力に進む', new_order_path, class: 'btn btn-primary btn-block btn-lg' %>
</div>