<div class ="container">
    <div class="row">
  <%= render 'layouts/genre_serch' %>

  <div class="col-10">
      <% if @genre.present? %>
        <h1><%= @genre.name %></h1>
        <h3><%= "全#{@items.count}件" %></h3>
      <% else %>
        <h1>検索結果</h1>
        <h3><%= "全#{@search_items.count}件" %></h3>
      <% end %>
    <% @search_items.each do |item| %>
    <div class ="item-image">
      <%= link_to item_path(item.id) do %>
      <% if item.image_id.present? %>
      <%= attachment_image_tag item, :image, :size=>"300x200" %>
      <% else %>
          <%= image_tag 'no_image.jpg', :size=>"300x250"  %>
      <% end %>
    </div>
      <% end %>
      <%= item.name %>
      <%= number_to_currency((BigDecimal(item.price) * BigDecimal("1.08")).ceil) %>
    <% end %>
    <%= paginate @genres, class: "paginate" %>
  </div>
</div>
</div>