<div class ="container">
  <div class="mx-auto" style="width: 300px;">

<h2 class="text-center">パスワード変更</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.hidden_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :"新しいパスワードを入力してください" %><br />
    <%= f.password_field :password,placeholder: "6文字以上で入力してください", autocomplete: "new-password",class:"form-control" %>
    <% if @minimum_password_length %>
    <% end %>
  </div>

<br>

  <div class="field">
    <font color="red">
    <%= f.label :"※もう一度入力してください" %>
    </font><br />
    <%= f.password_field :password_confirmation,placeholder: "6文字以上で入力してください", autocomplete: "new-password",class:"form-control" %>
  </div>

<br>

  <div class="field">
    <%= f.label :"現在のパスワードを入力してください" %><br />
    <%= f.password_field :current_password,placeholder: "6文字以上で入力してください", autocomplete: "current-password",class:"form-control" %>
  </div>

<br>

  <div class="text-center">
    <%= f.submit "パスワードを変更する", class:"btn btn-outline-primary mb-4" %>

<% end %>

<%= link_to "マイページに戻る", customer_path, class:"btn btn-outline-danger mb-4" %>
</div>
</div>
</div>
