<h2>新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :"氏名" %>
    <%= f.text_field :last_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :"フリガナ" %>
    <%= f.text_field :last_name_kana %>
    <%= f.text_field :first_name_kana %>
  </div>

  <div class="field">
    <%= f.label :"郵便番号" %>
    <%= f.text_field :postcode %>
  </div>

  <div class="field">
    <%= f.label :"住所" %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :"電話番号" %>
    <%= f.text_field :phone_number %>
  </div>

  <div class="field">
    <%= f.label :"メールアドレス" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :"パスワード" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上で入力してください)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <font color="red">
      <%= f.label :"※もう一度パスワードを入力してください" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </font>
  </div>

  <div class="actions">
    <%= f.submit "会員登録する" %>
  </div>
<% end %>

<%= render "devise/customers/shared/links" %>
