<h4>会員の方はこちらからログイン</h4>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="field">
    <%= f.label :"メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :"パスワード" %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :"パスワードを記憶する" %>
    </div>

  <%= link_to "=>パスワードを忘れた方はこちら", new_password_path(resource_name) %>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>

  <div class="not_register">
    <h4>登録がお済みでない方</h4>
      <p><%= link_to "こちら", new_registration_path(resource_name) %>から新規登録を行ってください。</p>
  </div>

  <% end %>

<% end %>

