<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p:700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p:700|M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<!-- <div id="wrapper"> -->
    <header class="navbar navbar-fixed-top navbar-inverse">

          <div class ="jumbotron jumbotron-fluid">
<!-- <div class="logo-box"> -->
            <div class="title-cover">

                    <div class ="logo">
                      <% if admin_signed_in? %>
                          <%= link_to admin_root_path, id: "logo" do%>
                          <%= image_tag 'logo3.svg', :size=>"230x180"  %>
                          <% end %>
                      <% else %>
                        <%= link_to root_path, id: "logo" do%>
                          <%= image_tag 'logo3.svg', :size=>"230x180"  %>
                        <% end %>
                      <% end %>
                    </div>

                      <ul class="list-inline-item">
                        <% if customer_signed_in? %>
                          <li class ="list-inline-item">
                            <%= link_to root_path do %>
                              <i class="fas fa-home fa-3x"></i>
                              <p>Top</p>
                            <% end %>
                            </li>
                          <li class ="list-inline-item">
                            <%= link_to home_about_path do %>
                            <i class="fas fa-store fa-3x"></i>
                            <p>About</p>
                            <% end %>
                          </li>
                          <li class ="list-inline-item">
                            <%= link_to cart_items_path do %>
                              <i class="fas fa-shopping-cart fa-3x"></i>
                              <p>Cart</p>
                            <% end %>
                          </li>
                          <li class ="list-inline-item">
                            <%= link_to destroy_customer_session_path, method: :delete do %>
                              <i class="fas fa-door-open fa-3x"></i>
                              <p>Logout</p>
                              <% end %>
                            </li>
                            <div class="welcome">
                          <li class ="list-inline-item">ã‚ˆã†ã“ã <%= link_to current_customer.fullname.to_s, customer_path %> ã•ã‚“</li>
                            </div>
                          <% elsif admin_signed_in? %>

                  <div class ="admin-links">
                          <li class ="list-inline-item">
                            <%= link_to admin_items_path do %>
                            <i class="fas fa-cookie-bite fa-3x"></i>
                            <p>å•†å“ç®¡ç†</p>
                            <% end %>
                          </li>
                          <li class ="list-inline-item">
                            <%= link_to admin_customers_path do %>
                            <i class="fas fa-users fa-3x"></i>
                            <p>ä¼šå“¡ä¸€è¦§</p>
                            <% end %>
                            </li>
                          <li class ="list-inline-item">
                            <%= link_to admin_orders_path do %>
                            <i class="fas fa-list-ul fa-3x"></i>
                            <p>æ³¨æ–‡ä¸€è¦§</p>
                            <% end %>
                          </li>
                          <li class ="list-inline-item">
                            <%= link_to admin_genres_path do%>
                            <i class="fas fa-tag fa-3x"></i>
                            <p>ã‚¸ãƒ£ãƒ³ãƒ«ç®¡ç†</p>
                            <% end %>
                          </li>
                          <li class ="list-inline-item">
                            <%= link_to destroy_admin_session_path, method: :delete do%>
                            <i class="fas fa-sign-out-alt fa-3x"></i>
                            <p>ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ</p>
                            <% end %>
                          </li>
                  </div>
                        <% else %>
                          <li class ="list-inline-item">
                            <%= link_to root_path do %>
                              <i class="fas fa-home fa-3x"></i>
                              <p>Top</p>
                            <% end %>
                          </li>
                          <li class ="list-inline-item">
                            <%= link_to home_about_path do %>
                            <i class="fas fa-store fa-3x"></i>
                            <p>About</p>
                            <% end %>
                          </li>
                          <li class ="list-inline-item">
                            <%= link_to new_customer_session_path do %>
                            <i class="fas fa-sign-in-alt fa-3x"></i>
                            <p>Login</p>
                            <% end %>
                            <div class="owner">
                            <i class="fas fa-user"></i><%= link_to "ç®¡ç†è€…ã¯ã“ã¡ã‚‰" ,new_admin_session_path %>
                            </div>
                        <% end %>
                      </ul>


                  <% if customer_signed_in? %>
                        <dl class ="searchbox">
                              <%= search_form_for @search, url: items_path do |f| %>
                              <div class ="searching">
                                <dt><%= f.search_field :name_cont ,placeholder: "ã‚­ãƒ¼ãƒ¯ãƒ¼ãƒ‰æ¤œç´¢", id: :item_name %><%= f.submit ("search") , class: 'search-btn' %></dt>
                              </div>
                              <% end %>
                        </dl>

                  <% elsif admin_signed_in? %>

                  <% else %>
                        <dl class ="searchbox">
                            <%= search_form_for @search, url: items_path do |f| %>
                            <div class ="searching">
                              <dt><%= f.search_field :name_cont ,placeholder: "ã‚­ãƒ¼ãƒ¯ãƒ¼ãƒ‰æ¤œç´¢", id: :item_name %><%= f.submit ("search") , class: 'search-btn' %></dt>
                            </div>
                            <% end %>
                        </dl>
                  <% end %>
            <!-- </div> -->
            </div>
<!-- </div> -->
          </div>
    </header>



        <%= yield %>
  <div class="footer-border">
      <footer class="footer">
        <div class="container">
          <h1 class="text-center">ğ‘ğ‘ğ‘”ğ‘ğ‘›ğ‘œ ğ¶ğ‘ğ‘˜ğ‘’</h1>
        </div>
      </footer>
  </div>
</div>
        <script>
          $(function() {
            const dataList = function(request, response) {
              $.ajax({
                url: '/items/autocomplete_name/' + request.term,
                dataType: 'json',
                type: 'GET',
                cache: true,
                success: function(data) {
                  response(data);
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                  response(['']);
                }
              });
            }

            // #item_nameã®éƒ¨åˆ†ã¯å¿…è¦ã«å¿œã˜ã¦idãªã‚ŠæŒ‡å®šã—ã¦ãã ã•ã„
            $('#item_name').autocomplete({
              source: dataList,
              autoFocus: true, // è‡ªå‹•çš„ã«å…ˆé ­ã®é …ç›®ã«ãƒ•ã‚©ãƒ¼ã‚«ã‚¹ã™ã‚‹ã‹
              delay: 100, // å…¥åŠ›ã—ã¦ã‹ã‚‰ã‚µã‚¸ã‚§ã‚¹ãƒˆãŒå‹•ãã¾ã§ã®æ™‚é–“(ms)
              minLength: 1 // 1æ–‡å­—å…¥åŠ›ã—ãªã„ã¨ã‚µã‚¸ã‚§ã‚¹ãƒˆãŒå‹•ã‹ãªã„
            })
          });
        </script>

  </body>
</html>